{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}

	<div class="container-md mt-5 securityWrapper">
	{% include "security/_se-connecter.html.twig" %}
	</div>
{% endblock %}

{# {% block javascripts %}
	{{ parent()}}
	<script src="{{ asset('js/registration.js') }}"></script>
{% endblock %} #}


