<div class=" container my-5 border-top pt-5 ">
	<div class="social-icons row ">

		<div class=" col-md-6 bel">
			Copyright &copy; {{"now"| date('Y')}}&nbsp;-&nbsp; 
            <a href="{{path('home')}}" class="text-dark">
				BoutiqueEnLigne
			</a>
			
			
		</div>
		<div class="text-center col-md-6">

			<a class="social-icon btn btn-light rounded-circle " href="#">
				<i class="fab fa-facebook "></i>
			</a>
			<a class="social-icon btn btn-light rounded-circle" href="#">
				<i class="fab fa-twitter "></i>
			</a>
			<a class="social-icon btn btn-light rounded-circle" href="#">
				<i class="fab fa-instagram "></i>
			</a>
			<a class="social-icon btn btn-light rounded-circle" href="#">
				<i class="fab fa-snapchat"></i>
			</a>
			<a class="social-icon btn btn-light rounded-circle" href="#">
				<i class="fab fa-youtube"></i>
			</a>
		</div>
	</div>

	<button class="back-to-top " >
		<svg width="1em" height="1em" viewbox="0 0 16 16" classname="bi bi-chevron-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<path fillrule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
		</svg>
	</button>
</div>
